.footer {
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo cột */
    justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
    align-items: center; /* Căn giữa các phần tử theo chiều ngang */
    color: #000000;
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif; /* Sử dụng font Roboto cho phần chân trang */
    position: relative;
}

.footer a {
    color: inherit; /* Giữ màu sắc giống với màu chữ trong footer */
    text-decoration: none; /* Bỏ gạch chân của liên kết */
}

.footer a:hover {
    text-decoration: underline; /* Gạch chân liên kết khi hover */
}

.footer-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px; /* Khoảng cách giữa phần trên và thẻ a */
}
