#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-color: #fff; /* Thêm màu nền để che toàn bộ trang */
}

#preloader::before {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    background: url('https://cdn.a3sachhonaba.com/resource/icon/a3sachhonaba.webp') no-repeat center center;
    background-size: contain;
}

#preloader::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border: 10px solid transparent;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}
